{% extends 'base.html' %}
{% block title %} Главная страница {% endblock %}
{% block content %}
{% if 'role' in request.session %}
    {% if request.session.role == 'Клиент' %}
        <form action="add_order" method="post">
            {% csrf_token %}
           <input type="hidden" class="lon" name="lon">
            <input type="hidden" class="lat" name="lat">
           <div class="group_form">
               <div><label>Адрес:</label></div>
               <div  style="position: relative"><input type="text" class="address_txt" name="address" required placeholder="Адрес">
                    <div class="list_location" style="position: absolute;left: 4px;background-color: #fff;font-size: 14px"></div>
               </div>

           </div>
            <div class="group_form">
               <div><label>Описание:</label></div>
               <div><input type="text" class="description" name="description" required placeholder="Описание"></div>
           </div>
             <div class="group_form">
               <div><label>Дата и время:</label></div>
               <div><input type="datetime-local" name="datetime" required></div>
           </div>
             <div class="group_form">
               <button>Добавить заказ</button>
           </div>
        </form>
    <table border="1">
        <tr>
            <th>ID заказа</th>
            <th>Дата и время</th>
            <th>Дата создания</th>
            <th>Адрес</th>
            <th>Статус</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.datetime}}</td>
            <td>{{order.date_create}}</td>
            <td>{{order.address}}</td>
            <td>{{order.status}}
            {% if order.courier != null %}
               <p> <b>Ваш курьер:</b> {{order.courier.email}}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <style>
        td{
            padding: 6px
        }
    </style>
        <div id="map" style="width: 100%; height: 400px"></div>
    {% else %}
        <h1>Доступные заказы</h1>
        <div id="map" style="width: 100%; height: 400px"></div>
    {% endif %}

{% else %}
 <h1>Meow delivery</h1>
        <div id="map" style="width: 100%; height: 400px"></div>
{% endif %}
<script src="/static/js/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.address_txt').on('input', function(){
            let address = $(this).val();
            $.ajax({
                url: '/ajaxLoadAddress',
                method: 'post',
                dataType: 'html',
                data: {csrfmiddlewaretoken: '{{csrf_token}}', address: address,},
                success: function(data){
                    $('.list_location').html(data);

                    //alert(data);
                    //let dd = JSON.parse(data);
                }
            });
        });



    });



    $(document).on('click', '.bl_location div', function(){
        let lon = $(this).attr('data-lon');
        let letit = $(this).attr('data-let');

        $('.lon').val(lon);
        $('.lat').val(letit);

        let txt = $(this).text();
        $('.address_txt').val(txt);
        $('.bl_location').hide();
    });
</script>

{% endblock content %}